tensorflow==2.16.1
protobuf==3.20.3
tensorboard==2.16.0
keras==3.0.0
tf-keras-nightly
tf-nightly
pandas
numpy
matplotlib
plotly
scikit-learn
tqdm
opencv-python
ultralytics
roboflow
supervision
torch

