protobuf
tensorboard
keras
tf-keras-nightly
tf-nightly
pandas
numpy
matplotlib
plotly
scikit-learn
tqdm
opencv-python
ultralytics
roboflow
supervision
torch
object-detection
mxnet
chainer
xgboost
lightgbm
catboost
transformers
spacy
nltk
textblob
gensim
dask-ml
optuna
TPOT
ray